@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-Sorts_Mill_Goudy, monospace) !important;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }